body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.hidden {
  visibility: hidden;
}

.title {
  color: white;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin-inline: 1000px; */
}

marquee {
  width: 580px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flexbox{
  position: relative;
  display:flex;
}

.leaderboard {
  position: absolute;
  color: aqua;
}

.distance-players {
  position: absolute;
  color: greenyellow;
  right:0;
}



input {
  font-size: 3rem;
  background-color: transparent;
  color: white;
}

#play {
  font-size: 5rem;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
